@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');

body {
    font-family: "Aref Ruqaa", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin-bottom: -20px;
    background-color: #f6d365;
}

/* Set a protective zone for the whole content, excluding header and nav */
body > *:not(header):not(nav) {
    padding: 0 10%;
}

h1 {
    text-align: center;
}